////////////////////////////////////////////////////////////////////////////////////////////////////
// panel ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.panel {
	--panel-background-color: #{$panel-background-color};
	--panel-text-color: #{$panel-text-color};
	--panel-accent-text-color: #{$panel-accent-text-color};
	--panel-shadow-color: #{$panel-shadow-color};
	--panel-badge-color: #{$panel-badge-color};

	@media (prefers-color-scheme: dark) {
		--panel-background-color: #{$panel-dark-background-color};
		--panel-text-color: #{$panel-dark-text-color};
		--panel-accent-text-color: #{$panel-dark-accent-text-color};
		--panel-shadow-color: #{$panel-dark-shadow-color};
		--panel-badge-color: #{$panel-dark-badge-color};
	}

	.-theme--dark & {
		--panel-background-color: #{$panel-dark-background-color};
		--panel-text-color: #{$panel-dark-text-color};
		--panel-accent-text-color: #{$panel-dark-accent-text-color};
		--panel-shadow-color: #{$panel-dark-shadow-color};
		--panel-badge-color: #{$panel-dark-badge-color};
	}

	////////////////////////////////////////////////////////////////////////////////////////////////

	position: fixed;
	top: $appbar-size;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: $panel-border-radius $panel-border-radius 0 0;
	background-color: var(--panel-background-color);
	color: var(--panel-text-color);
	overflow: auto;

	box-shadow:
		0 -2px 4px -1px rgba(var(--panel-shadow-color), 0.2),
		0 -4px 5px 0 rgba(var(--panel-shadow-color), 0.14),
		0 -1px 10px 0 rgba(var(--panel-shadow-color), 0.12);

	transition: transform $transition-timing-function 0.24s;

	.-mode--list & {
		transform: translateY(calc(100vh - (#{$appbar-size} * 2)));
	}

	&.-state--loading {
		.loading {
			display: flex;
		}

		.station {
			display: none;
		}
	}

	&.-state--closed {
		.closed {
			display: flex;
		}

		.station {
			display: none;
		}
	}

	// Estação
	.station {
		height: 100%;
		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.departures {
		padding: $appbar-size 20px 6px;
		font-size: 24px;
	}

	.departures-title {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: $appbar-size;
		padding: 0 18px;
		font-size: 18px;
		color: var(--panel-accent-text-color);
		cursor: default;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// Sentidos
	.direction {
		padding: 6px 0 18px;
	}

	.direction-caption {
		padding-left: 44px;
		padding-bottom: 4px;
		font-size: 16px;
		color: var(--panel-accent-text-color);
	}

	// Trem
	.train {
		padding: 5px 0;

		display: flex;
		align-items: center;
		justify-content: space-between;

		&.-state--approaching {
			animation: approaching $transition-timing-function 1.5s infinite;
		}
	}

	.train-line {
		padding-top: 4px;
		padding-right: 21px;
	}

	.train-direction {
		flex-grow: 1;
	}

	.train-eta {
		span {
			display: inline-block;
			padding-left: 3px;
			font-size: 0.8em;
		}
	}

	.train:nth-child(2) {
		.train-direction {
			font-weight: 700;
		}

		.train-eta {
			font-weight: 700;
		}
	}

	// Estado da conexão e hora da última atualização
	// .status {

	// }

	.status-badge {
		border: 1px solid var(--panel-accent-text-color);
		border-radius: 6px;
		padding: 2px 6px;
		font-size: 13px;
		color: var(--panel-accent-text-color);
		text-align: center;
		transition: opacity 0.5s $transition-timing-function;

		&.-state--real-time {
			border-color: var(--panel-badge-color);
			color: var(--panel-badge-color);
			text-transform: uppercase;
		}

		// &.-state--no-connection {
		// 	border-color: $danger-color;
		// 	color: $danger-color;
		// }
	}

	.-mode--list & {
		.status-badge {
			opacity: 0;
		}
	}

	.connection-status {
		padding-bottom: 2px;
	}

	// Permissão
	.permission {
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		.button {
			border: 1px solid var(--panel-badge-color);
			border-radius: $panel-border-radius * 0.75;
			padding: 9px 15px;
			// background-color: var(--panel-badge-color);
			color: var(--panel-badge-color);

			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				background-color: rgba(var(--panel-badge-color), 0.1);
			}

			span {
				display: inline-block;
				padding-left: 12px;
			}
		}
	}

	// Fora de operação
	.closed {
		height: 100%;
		text-align: center;
		// background-color: yellow;

		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h1 {
			margin: 0;
			padding: 9px 36px 0;
			font-weight: 500;
			font-size: 36px;
			order: 2;
		}

		p {
			padding: 12px 36px 36px;
			font-size: 24px;
			order: 3;
		}

		i {
			font-size: 48px;
			order: 1;
		}
	}
}

@keyframes approaching {
	0% {
		opacity: 1;
	}

	20% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}
