////////////////////////////////////////////////////////////////////////////////////////////////////
// station ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.panel .station {
	height: 100%;

	flex-direction: column;
	justify-content: space-between;

    .departures {
		padding: 0 20px 6px;
		font-size: 24px;
	}

	.departures-title {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: $appbar-size;
		padding: 0 18px;
		font-size: 18px;
		color: $panel-accent-text-color;
		cursor: default;

		display: flex;
		align-items: center;
		justify-content: space-between;

		@include theme("dark") {
			color: $panel-dark-accent-text-color;
		}
	}

	// Sentidos
	.direction {
		padding: 6px 0 18px;
	}

	.direction-caption {
		padding-left: 44px;
		padding-bottom: 4px;
		font-size: 16px;
		color: $panel-accent-text-color;

		@include theme("dark") {
			color: $panel-dark-accent-text-color;
		}
	}

	// Trem
	.train {
		padding: 5px 0;

		display: flex;
		align-items: center;
		justify-content: space-between;

		&.-state--approaching {
			animation: approaching $transition-timing-function 1.5s infinite;
		}
	}

	.train-line {
		padding-top: 4px;
		padding-right: 21px;
	}

	.train-direction {
		flex-grow: 1;
	}

	.train-eta {
		span {
			display: inline-block;
			padding-left: 3px;
			font-size: 0.8em;
		}
	}

	.train:nth-child(2) {
		.train-direction {
			font-weight: 700;
		}

		.train-eta {
			font-weight: 700;
		}
    }

    // Sugestão de estação próxima
	.suggestion {
		padding: 18px;
		order: 1;

		.button {
			border: 1px solid $panel-accent-text-color;
			border-radius: $panel-border-radius * 0.75;
			padding: 9px 15px 9px 12px;
			color: $panel-accent-text-color;

			display: inline-flex;
			align-items: center;
			justify-content: flex-start;

			@include theme("dark") {
				border-color: $panel-dark-accent-text-color;
				color: $panel-dark-accent-text-color;
			}
		}

		i {
			padding-right: 9px;
		}

		strong {
			display: inline-block;
			padding-left: 5px;
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////

@keyframes approaching {
	0% {
		opacity: 1;
	}

	20% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}
