doctype html
html(lang="pt-br")
	head
		meta(charset="utf-8")
		title Horários

		meta(name="description", content="Horário dos próximos trens do VLT")

		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cabin:400,500,700|Material+Icons")
		//- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800|Material+Icons")
		//- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cabin:400,500,700|Dosis:400,500,700|Fira+Sans:400,500,700|Montserrat:400,500,700|Muli:400,600,700|Titillium+Web:400,600,700|Work+Sans:400,500,700")

		if (env === "development")
			link(rel="stylesheet", href="vlt.css")
		else
			link(rel="stylesheet", href="./../../public/vlt.css", inline)

		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="application-name", content="VLT Carioca Horários")
		meta(name="apple-mobile-web-app-title", content="Horários")
		meta(name="theme-color", content="#003c8f")
		meta(name="msapplication-navbutton-color", content="#003c8f")
		meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
		meta(name="msapplication-starturl", content="/")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

		if (env === "production")
			link(rel="manifest", href="/manifest.json")
			link(rel="icon" type="image/png" sizes="512x512" href="/icon.png")
			link(rel="apple-touch-icon" type="image/png" sizes="512x512" href="/icon.png")

		script var env = "#{env}";

	body
		.app
			.stations
				.appbar
					h1
						span.station-name
						span.placeholder Estações
					i.station-list-trigger.material-icons menu
					i.options-trigger.material-icons more_vert
				.list: ul
			.panel

		- var inline = env === "development"? false : true;
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js", integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT", crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js", integrity="sha384-sIzeKWIAHvT0Vm8QbfLCqZwBG0WMCkWVAOYd/330YSNeeQ1Y57N3T9lQz5Ry/EHH", crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/pt-br.js", integrity="sha384-9LiF6lX7AZoGG6fE6UmLGm1Hy8qg7S2VO17QubXMoMxSBOZTfTkO0FRdN95N3/9j", crossorigin="anonymous")

		if (env === "development")
			script(src="vlt.js", inline=inline)
		else
			script(src="./../../public/vlt.js", inline=inline)
